@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  color: #4f3206;
}

hr {
  opacity: 100%;
  border: 1px solid #f7a731;
  background-color: #f7a731;
  width: 40px;
  margin: 0;
}
.container {
  margin: 30px 50px;
}

.bg-my-color {
  background-color: #f7a831;
  border: none;
}

.bg-same {
  background-color: #f1e8da;
  border: none;
}
.t-same {
  color: #f1e8da;
}

.t-white {
  color: white;
}

.header {
  display: grid;
  grid-template-columns: 4fr 2fr;
}

.name {
  font-size: 20px;
  padding-left: 30px;
}

/* main styles */

h2 {
  font-weight: 100;
}
.main {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 5% 10%;
}

.pic {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 7px solid #fff;
  overflow: hidden;
}

.pic img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding-left: 30px;
  padding-top: 20px;
}
/* .content button {
  background-color: antiquewhite;
  border: 2px solid #4f3206;
  transform: 150ms ease-in-out;
  border-radius: 10px;
  padding: 5px 10px;
  color: #4f3206;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 10px;
} */

.content button:hover {
  cursor: pointer;
  color: antiquewhite;
  background-color: #f7a731;
  border: 2px solid #f7a731;
}
#skills {
  margin-bottom: 30px;
}
hr {
  opacity: 100%;
  border: 1px solid #f7a731;
  background-color: #f7a731;
  width: 40px;
  margin: 0;
}

/* footer styles */
.footer {
  background-color: #f7a731;
  padding: 15px 0;
}

#contacts {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#contacts i {
  margin: 0 9px;
  transition: 150ms ease-in-out;
}

#contacts i:hover {
  transform: scale(2.1);
  color: white;
}

#contacts a {
  color: #f1e8da;
}

#contacts a:hover {
  color: #f1e8da;
}
