@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  color: #4f3206;
}

hr {
  opacity: 100%;
  border: 1px solid #f7a731;
  background-color: #f7a731;
  width: 40px;
  margin: 0;
}

.container {
  margin: 30px 50px;
}

.bg-my-color {
  background-color: #f7a831;
  border: none;
}

.bg-same {
  background-color: #f1e8da;
  border: none;
}
.t-same {
  color: #f1e8da;
}

.t-primary {
  color: #f7a731;
}

.t-white {
  color: white;
}

.name {
  font-size: 20px;
  padding-left: 30px;
}
.button {
  margin-top: 40px;
  margin-bottom: 20px;
}

.btn-mine {
  box-shadow: 2px 2px 10px #4f320663;
  background-color: white;
  border: 1px solid #4f3206;
  color: #4f3206;
  padding: 15px 10px;
  margin-top: 20px;
  border-radius: 10px;
  text-decoration: none;
}

.btn-mine:hover {
  border: 1px solid #4f3206;
  color: #f1e8da;
  background-color: #4f3206;
  box-shadow: 2px 2px 10px #4f320663;
}

/* main styles */

h2 {
  font-weight: 100;
}
.hero {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 5% 10%;
}

.pic {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 20px;
  border: 7px solid #fff;
  overflow: hidden;
  box-shadow: 2px 2px 10px;
  border: none;
}

.pic img {
  position: absolute;
  top: 0;
  left: 0;
  width: 105%;
  height: 105%;
  object-fit: cover;
}

.content {
  padding-right: 30px;
  padding-top: 20px;
}

#skills {
  margin-bottom: 30px;
}
hr {
  opacity: 100%;
  border: 1px solid #f7a731;
  background-color: #f7a731;
  width: 40px;
  margin: 0;
}

/* footer styles */
.footer {
  margin: 50px auto;
  text-align: center;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
}

#contacts {
  display: flex;
  align-items: space-around;
  justify-content: space-around;
  max-width: 800px;
}

#contacts i {
  margin: 20px 9px;
  transition: 500ms ease-in-out;
}

#contacts i:hover {
  transform: rotate(360deg);
}

#contacts a {
  color: #f7a731;
}

#contacts a:hover {
  color: #f7a731;
}
