@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body {
  margin: 10px 10px;
  padding: 0;
  font-family: Poppins, Verdana, Geneva, Tahoma, sans-serif;
  color: #4f3206;
}

hr {
  opacity: 100%;
  border: 1px solid #f7a731;
  background-color: #f7a731;
  width: 40px;
  margin: 0;
}

.container {
  margin: 10px 50px;
  width: 100%;
}

.bg-same {
  background-color: #f1e8da;
  border: none;
}

.t-white {
  color: white;
}

.t-same {
  color: #4f3206;
}

.name {
  font-size: 20px;
  padding-left: 30px;
}
.button {
  margin-top: 40px;
  margin-bottom: 20px;
}

.btn-mine {
  box-shadow: 2px 2px 10px #4f320663;
  background-color: white;
  border: 1px solid #4f3206;
  color: #4f3206;
  padding: 15px 10px;
  margin-top: 20px;
  border-radius: 10px;
  text-decoration: none;
}

.btn-mine:hover {
  border: 1px solid #4f3206;
  color: #f1e8da;
  background-color: #4f3206;
  box-shadow: 2px 2px 10px #4f320663;
}

/* main styles */

.hero-about {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 5% auto;
  max-width: 1020px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  text-align: center;
  background-color: #f1e8da;
  border-radius: 10px;
}

.hero h1 {
  font-size: 52px;
  line-height: 1.5;
  margin-top: 0;
  padding-top: 0;
}

.hero h2 {
  font-size: 42px;
  line-height: 1.5;
  font-weight: 100;
}

.pic,
.pic-mobile {
  position: relative;
  width: 250px;
  height: 320px;
  border-radius: 20px;
  border: 7px solid #fff;
  overflow: hidden;
  box-shadow: 2px 2px 10px;
  border: none;
}

.pic img,
.pic-mobile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  padding-right: 30px;
  padding-top: 20px;
}

#skills {
  margin-bottom: 30px;
}
/* hr {
  opacity: 100%;
  border: 1px solid #f7a731;
  background-color: #f7a731;
  width: 40px;
  margin: 0;
} */

/* footer styles */
.footer {
  margin: 40px auto;
  text-align: center;
}

.contacts {
  display: flex;
  align-items: center;
  justify-content: center;
}

#contacts {
  display: flex;
  align-items: space-around;
  justify-content: space-around;
  max-width: 800px;
}

#contacts i {
  margin: 20px 9px;
  transition: 500ms ease-in-out;
}

#contacts-page i {
  margin: 40px 20px;
  transition: 200ms ease-in-out;
}

#contacts i:hover {
  transform: rotate(360deg);
}

#contacts-page i:hover {
  transform: scale(2.1);
}

#contacts a {
  color: #f7a731;
}

#contacts-page a {
  color: #4f3206;
}

#contacts a,
#contacts-page a:hover {
  color: #f7a731;
}

.nav-pills .nav-link {
  text-decoration: none;
}

@media screen and (min-width: 980px) {
  .pic-mobile {
    display: none;
  }
}

/* tablet */
@media screen and (max-width: 980px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding: 20px;
    margin: 0;
  }
  .pic {
    display: none;
  }
  .hero,
  .hero-about {
    display: flex;
    flex-direction: column;
  }

  .pic-mobile {
    margin: 20px auto;
  }
  .buttons {
    display: block;
    margin: 10px auto;
  }
}

/* mobile */
@media screen and (max-width: 573px) {
  .container {
    padding: 20px;
    margin: 0;
  }
  .pic {
    display: none;
  }
  .hero,
  .hero-about {
    display: flex;
  }
  .content {
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .pic-mobile {
    margin: 20px auto;
  }
}
